ExampleRefactoring/*
NUnitTests/*
LocationCodeRefactoring/*
DirectedGraph/*
NUnitTests/*
IntelliExtract/*
IntelliLocation/*
IntelliMeta/*
LocateAdornment/*
Refactor/*
IntelliUndo/*


ProgramSynthesis/ProseSample.Substrings/bin/*
ProgramSynthesis/ProseSample.Substrings/obj/*

ProgramSynthesis/ProseSample/bin/*
ProgramSynthesis/ProseSample/obj/*

ProgramSynthesis/ProseSample.TextExtraction/bin/*
ProgramSynthesis/ProseSample.TextExtraction/obj/*


TreeElement/bin/*
TreeElement/obj/*

ProgramSynthesis/UnitTests/bin/*
ProgramSynthesis/UnitTests/obj/*

LongestCommonAncestor/bin/*
LongestCommonAncestor/obj/*

LCA/bin/*
LCA/obj/*

TreeEdit/bin/*
TreeEdit/obj/*

TestResults/*

packages/*

IntelliMeta.sln.ide/*

*.chk
*.log
*.ide
*.htm
*.t
*.cache
*.suo
*.coverage
Backup[0-9]*/*
Backup/*
*/packages/*


