ExampleRefactoring/bin/*
ExampleRefactoring/obj/*
CodeRefactoringCS/bin/*
CodeRefactoringCS/obj/*

NUnitTests/bin/*
NUnitTests/obj/*


LocationCodeRefactoring/bin/*
LocationCodeRefactoring/obj/*

DirectedGraph/Backup/*
DirectedGraph/DirectedGraph.sln.ide/*
DirectedGraph/Test/*

NUnitTests/bin/*
NUnitTests/obj/*

IntelliExtract/bin/*
IntelliExtract/obj/*

IntelliLocation/bin/*
IntelliLocation/obj/*

IntelliMeta/bin/*
IntelliMeta/obj/*

LocateAdornment/bin/*
LocateAdornment/obj/*

Refactor/bin/*
Refactor/obj/*

IntelliMeta.sln.ide/*

*.chk
*.log
*.ide
*.htm



