ExampleRefactoring/bin/*
ExampleRefactoring/obj/*
CodeRefactoringCS/bin/*
CodeRefactoringCS/obj/*

NUnitTests/bin/*
NUnitTests/obj/*


LocationCodeRefactoring/bin/*
LocationCodeRefactoring/obj/*

DirectedGraph/Backup/*
DirectedGraph/DirectedGraph.sln.ide/*
DirectedGraph/Test/*

NUnitTests/bin/*
NUnitTests/obj/*

IntelliExtract/bin/*
IntelliExtract/obj/*

IntelliLocation/bin/*
IntelliLocation/obj/*

IntelliMeta/bin/*
IntelliMeta/obj/*

LocateAdornment/bin/*
LocateAdornment/obj/*

Refactor/bin/*
Refactor/obj/*

IntelliUndo/bin/*
IntelliUndo/obj/*

CompileChecker/bin/*
CompileChecker/obj/*

ASTBuilder/bin/*
ASTBuilder/obj/*

ProgramSynthesis/ProseSample.Substrings/bin/*
ProgramSynthesis/ProseSample.Substrings/obj/*

ProgramSynthesis/ProseSample/bin/*
ProgramSynthesis/ProseSample/obj/*

ProgramSynthesis/ProseSample.TextExtraction/bin/*
ProgramSynthesis/ProseSample.TextExtraction/obj/*


tutor/Tutor/bin/*
tutor/Tutor/obj/*

LongestCommonAncestor/bin/*
LongestCommonAncestor/obj/*

TreeEdit/bin/*
TreeEdit/obj/*

TestResults/*

packages/*

DirectedGraph/DirectedGraph/bin/*
DirectedGraph/DirectedGraph/obj/*

IntelliMeta.sln.ide/*

*.chk
*.log
*.ide
*.htm
*.t
*.cache
*.suo
*.coverage
Backup[0-9]*/*
Backup/*
*/packages/*


